name: Deploy to Production Hetzner

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: ghcr.io/amirhoseinarabhaji/django-ci-cd:latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code (Needed for copying files)
        uses: actions/checkout@v4

      - name: Copy entire repository to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HETZNER_HOST }}
          username: ${{ secrets.HETZNER_USERNAME }}
          key: ${{ secrets.HETZNER_SSH_KEY }}
          # The "." tells it to copy EVERY file and folder from GitHub
          source: "."
          target: ${{ vars.DEPLOY_PATH }}

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HETZNER_HOST }}
          username: ${{ secrets.HETZNER_USERNAME }}
          key: ${{ secrets.HETZNER_SSH_KEY }}
          script: |
            set -e
            
            # 1. Go to your project directory
            cd ${{ vars.DEPLOY_PATH }}
            
            # 2. Login to GitHub Registry on the server
            echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            # 3. CRITICAL: Kill the old standalone container so it releases port 8000!
            # We temporarily disable strict errors (set +e) so it doesn't fail if the container is already gone.
            set +e
            docker rm -f django-app || true
            set -e
            
            # 4. Pull the absolute newest image defined in docker-compose.yml
            docker compose pull
            
            # 5. Start/Update the containers (Database and Web)
            docker compose up -d --remove-orphans
            
            # 6. Clean up old unused images to save disk space
            docker image prune -f